@import "~elv-components-js/src/stylesheets/defaults";
@import "~elv-components-js/src/stylesheets/styles";
@import "./menu";

@font-face {
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("https://main.net955305.contentfabric.io/s/main/q/hq__5pArhXyXqfEmFrp6YbuyHkVV34CPa9LCEFSgSGkqp74DQTs35RGsCwzWV2Pr3M5P3TGb6fa2wf/files/fonts/Inter-Regular.ttf") format("truetype");
}

$main-font: 'Inter-Regular';
$background-color: #15141d;
$text-color: #fff;

$clear: rgba(0, 0, 0, 0);
$vignette-color: rgba(0, 0, 0, 0.9);
$title-background: rgba(0, 0, 0, 0.65);

$header-height: 3.5rem;

.app-version {
  display: none;
}

.hidden {
  // sass-lint:disable no-important
  display: none !important;
}

html {
  font-size: 14px;
}

.app {
  background: #F7F9FC;
}

html,
body,
.app,
.app-container {
  font-family: $main-font;
  min-height: 100vh;
}

html,
body,
.app,
.app-container,
main,
.site,
.site-titles {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  width: 100%;
}

* {
  max-width: 100%;
}

header {
  align-items: center;
  display: flex;
  max-height: $header-height;
  min-height: 5.5rem;
  position: relative;
  background-color: #15141d;
  width: 100%;
  padding: 0 $elv-spacing-l;

  h3 {
    font-family: $main-font;
    color: $text-color;
  }

  .logo {
    cursor: pointer;
    display: block;
    min-height: 100%;
    width: auto;
    height: 40px;
    margin-right: 1.75rem;
  }
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 80%;
  width: 100%;
  padding: 0 $elv-spacing-l;
}

input {
  background: $elv-color-bg-dark;
  border: 0;
  border-radius: $elv-spacing-xxs;
  color: #8f9cab;
  font-size: $elv-font-xl;
  padding: 0 $elv-spacing-xs;
  width: 20rem;
}

.error-message {
  color: $elv-color-red;
  position: absolute;
  top: $elv-spacing-s;
}

.-elv-loading-element {
  flex: 1 1 auto;
}

h1,
h2,
h3,
h4,
nav {
  font-weight: 400;
  position: relative;

  svg {
    &.back-button {
      border-radius: 0.5rem;
      cursor: pointer;
      left: 0;
      padding: $elv-spacing-xs;
      position: absolute;
      stroke: #fff;
      height: 1.5rem;

      &:hover {
        stroke: #fff;
      }
    }
  }
}

.tabs {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  margin-top: $elv-spacing-s;
  padding-bottom: $elv-spacing-s;
  width: 100%;

  button {
    background: transparent;
    border: 0;
    border-bottom: 3px solid transparent;
    color: #000;
    cursor: pointer;
    font-size: 1.15rem;
    height: 3rem;
    padding: 0 0 $elv-spacing-xs;
    transition: border-bottom linear 0.15s, padding linear 0.15s;
    width: 12rem;

    &:focus {
      border-bottom: 1px solid #8f9cab;
      outline: 0;
    }

    &.active-tab {
      border-bottom: 3px solid #8f9cab;
    }
  }
}

.site-header {
  @include elv-no-select;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 0.1rem;
  margin: 0.5rem 0;
  p {
    margin: 0.6rem 0;
  }
  p, svg {
    color: #000;

    &.back-button {
      height: 1.25rem;
      margin-right: 0.7rem;
    }

  }
  

  &.with-subheader {
    margin-bottom: 0;
  }

  .title-search {
    align-items: center;
    bottom: 0;
    display: flex;
    position: absolute;
    right: 0;
  }

  .clear-search {
    height: 1.25rem;
    position: absolute;
    right: $elv-spacing-ss;
  }
}

.site-subheader {
  @include elv-no-select;
  color: gray;
  font-size: $elv-font-xxl;
  margin-bottom: $elv-spacing-xxs;
  text-align: center;
}

.loading-indicator {
  justify-content: center;
  margin: $elv-spacing-xxl 0 0;
  width: 100%;
}

.title-container {
  &:last-child {
    margin-bottom: $elv-spacing-xl;
  }

  .no-titles-message {
    color: #000;
    margin-left: $elv-spacing-s;
  }
}

.title-reel-container {
  margin-bottom: $elv-spacing-m;
}

.title-reel-header,
.title-grid-header {
  border-top: 2px solid #000;
  margin: $elv-spacing-s 0;
  padding: $elv-spacing-s;
  width: 100%;
  color: #000;

  &:first-child {
    margin-top: 0;
  }

}

.title-grid-container {
  margin-bottom: 2.5rem;
}

.title-reel {
  border-radius: 1rem;
  overflow: hidden;

  .title {
    max-width: 25%;
  }

  .title-reel-titles {
    align-items: center;
    display: flex;
    margin-right: 1.9rem;

  }

  .reel-arrow {
    @include elv-no-select;
    align-items: center;
    background: transparent;
    color: $elv-color-lightgray;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    opacity: 0.7;
    padding: 0 $elv-spacing-s;
    position: absolute;
    top: 0;
    transition: opacity 0.2s ease-in;
    width: 2rem;
    z-index: 100;

    &:hover {
      opacity: 0.9;
      visibility: visible;
    }

    &.hidden {
      display: none;
    }
  }

  .reel-arrow-left {
    left: 0;
    transform: scale(-1, 1);
  }

  .reel-arrow-right {
    right: 0;
  }
}

.title-grid-titles {
  display: grid;
  grid-row-gap: $elv-spacing-m;
  grid-template-columns: repeat(4, 1fr);
}

.title {
  @include elv-no-select;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  transition: flex-grow 0.6s ease-in-out, padding 0.4s ease-in-out;

  /*New*/
  margin: 0.5rem;
  flex-direction: column;
  box-shadow: 3px 3px 15px #8f9cab;
  border-radius: 0.2rem;
  background-color: #8f9cab;

  .title-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #c8cfd8;
    height: 4rem;
    border-radius: 0.2rem;
    border: 0.1rem solid #707070;

    h4 {
      padding-top: 0.5rem;
      width: 100%;
      color: #444444;
    }
  }

  &:first-child {
    padding-left: 0;
  }

  .hidden-title  {
    padding-left: 0;
  }

  &.hidden-title {
    flex-grow: 0;
    padding: 0;
    display: none;

    h4 {
      display: none!important;
    }
  }

  &:hover {
    transform: scale(1.02);
  }

  .ar-container {
    background-color: $elv-color-black;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    width: 100%;
    border-radius: 0.2rem;
    border: 0.1rem solid #707070;
    border-bottom: 0;

    .title-loading-indicator,
    .title-vignette {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transition: box-shadow 0.2s ease-in;
      width: 100%;
    }

    .title-loading-indicator {
      z-index: 11;
    }

    .title-vignette {
      background-image: linear-gradient($clear 70%, $vignette-color);
      opacity: 0;
      transition: opacity 0.2s ease-in;
      z-index: 10;
    }
  }

  .title-image {
    background-color: $elv-color-black;
    border: 0;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  svg {
    &.title-image {
      fill: $elv-color-darkblue;
      height: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
    }
  }

  h4 {
    color: $elv-color-lightergray;
    font-weight: 300;
    margin: 0;
    opacity: 1;
    padding: $elv-spacing-xxs $elv-spacing-xs;
    transition: opacity 0.2s ease-in;
  }
}

.active-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;

  .active-title-info-container{
    display: flex;

    .active-title-details-page {
      width: 40%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0rem 1rem;
      flex-direction: column;

      .active-title-detail-image {
        height: auto;
        width: 55%;
      }

      svg {
        fill: $elv-color-darkblue;
        stroke: none;
      }
    }
    .active-title-video-page {
      width: 60%;
      align-items: center;
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
    }

  }

  h4 {
    align-items: center;
    color: $elv-color-lightergray;
    display: flex;
    font-size: $elv-font-xxl;
    justify-content: center;
    margin: $elv-spacing-m 0;
    position: relative;
    width: 100%;
  }

  .video,
  video {
    background-color: $elv-color-black;
    border-radius: 0.5rem;
    cursor: pointer;
    height: 1080px;
    max-height: 50vh;
    scroll-margin: 10rem;
    width: 100%;

    &:fullscreen {
      height: 100%;
      min-height: 100%;
      min-width: 100%;
      width: 100%;
    }
  }

  .bmpui-ui-watermark {
    display: none;
  }

  .video-info {
    display: flex;
    width: 100%;
    margin: 1rem 0;
    gap: 8rem;

    .video-info-text {
      width: 80%;
    }
    .video-options {
      width: 20%;
    }
  }

  .video-options {
    display: flex;
    justify-content: flex-end;

    select {
      background: none;
      border: 1px solid $elv-color-darkgray;
      border-radius: 0.5rem;
      padding: 0 $elv-spacing-xs;
      text-align: center;
      width: 120px;
    }
  }

  .synopsis {
    align-self: center;
    color: #979797;
    max-height: 50%;
  }
}

.active-title-details {
  height: auto;
  padding: 0 1rem;
  width: 100%;
  display: flex;
  align-items: flex-start;

  * {
    color: $elv-color-text-white;
    font-weight: 300;
  }

  h2 {
    color: #8f9cab;
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: $elv-spacing-m;
    text-align: left;
  }

  .synopsis {
    color: #8f9cab;
    display: flex;
    font-size: $elv-font-s;
    line-height: $elv-spacing-s;
    text-align: left;
  }

  .details-section {
    width: 45%;
    margin: 0 $elv-spacing-xs;

    &:not(:empty) {
      border-bottom: 1px solid #8f9cab;
      border-top: 1px solid #8f9cab;
    }
  }

  .detail {
    display: flex;
    flex-direction: column;
    font-size: $elv-font-s;
    margin: $elv-spacing-xs;

    p {
      color: #000;
      @include elv-ellipsis;
      margin: 0.2rem;
    }
    

    * {
      line-height: $elv-spacing-s;
    }

    label {
      color: #979797;
    }
  }

  .copyright {
    color: #979797;
  }
}

.active-title-metadata {
  width: 100%;
  padding: 0 1rem;

  h2 {
    color: $elv-color-text-white;
    margin-bottom: $elv-spacing-s;
    text-align: center;
  }

  .metadata-path {
    @include elv-ellipsis;
    margin: $elv-spacing-s 0;
    font-family: $elv-font-monospace;
    font-size: 0.8rem;
    width: 100%;
    p {
      margin: 0.4rem 0;

      span {
        background-color: #dde0e3;
        padding: 0.1rem;
        border-radius: 0.5rem;
      }
    }
  }
  .metadata-code  {
    height: 80%;
    @include elv-ellipsis;
    font-family: $elv-font-monospace;
    font-size: 0.8rem;
    width: 100%;
    overflow: visible;
    p {
      margin: 0.4rem 0;

      span {
        background-color: #dde0e3;
        padding: 0.1rem;
        border-radius: 0.5rem;
      }
    }
    
    pre {
      background: #8f8d94;
      border: 0;
      margin: $elv-spacing-s auto;
      border-radius: 0.5rem;
      color: #fff;
      height: 100%;
      font-size: 0.5rem;
    }

  }
}

.channel-schedule-reel {
  .current-program-indicator {
    background-color: $elv-color-lightblue;
    border: 3px solid $elv-color-mediumblue;
    border-radius: 100%;
    height: $elv-spacing-s;
    position: absolute;
    right: $elv-spacing-xs;
    top: $elv-spacing-xs;
    width: $elv-spacing-s;
    z-index: 100;
  }

  .title {
    &:not(.hidden-title) {
      h4 {
        font-size: $elv-font-l;
        margin: 0;
        opacity: 1;
      }

      .ar-container {
        .title-vignette {
          opacity: 1;
        }
      }
    }
  }
}


.localization {
  position: absolute;
  right: 15rem;

  select {
    background: none;
    border: 1px solid $elv-color-darkgray;
    height: $elv-spacing-l;
    margin: $elv-spacing-xs;
    padding: 0 $elv-spacing-xs;
    text-align: center;
    width: 5rem;
  }

  option {
    background-color: $elv-color-darkgray;
  }
}

.source-link {
  align-items: center;
  background: $elv-color-bg-dark;
  border-radius: 3px;
  display: flex;
  font-size: $elv-font-m;
  margin-top: $elv-spacing-xxs;
  padding: $elv-spacing-mxs $elv-spacing-xs;
  position: absolute;
  right: 2%;
  width: auto;

  &.source-link {
    color: $elv-color-text-lightest;
  }

  .github-icon {
    fill: $elv-color-white;
    height: $elv-font-xxl;
    margin-right: $elv-spacing-xs;
    stroke: $elv-color-white;
    width: $elv-font-xxl;
  }

  &:hover {
    background: $elv-color-darkergray;
  }
}


@media only screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }

  .tabs {
    button {
      width: 10rem;
    }
  }

  .active-title {
    min-height: 0;

    video {
      height: auto;
      min-height: 0;
    }
  }
}